rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    match /fotos/{posto}/{ano}/{mes}/{arquivo} {
      allow read: if signedIn();
      allow write: if signedIn() && isImage();
    }
  }
}
